$yellow: #fdcb6f;
$blue: #51a2c5;
$red: #ee5854;

body{
	margin: 0
}
.container{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
.container__item{
	width: 50%;
	overflow: hidden;
	position: relative;
}
.item__color{
	position: absolute;
	top: 0;
}
.yellow{
	background-color: $yellow;
	width: 1000px;
	height: 1000px;
	
}
.blue{
	background-color: $blue;
	width: 1000px;
	height: 1000px;	
}
.container__item:nth-of-type(1) { 
	order: 1;
	.yellow{
		transform: rotate(-45deg) translateX(8px);
		transform-origin: 100% 0%;
		left: auto;
		right: 0px;	
	}
	.blue{
		top: auto;
		bottom: 0;
		transform: rotate(-45deg) translateX(-8px);
		transform-origin: 0% 100%;
	}
}
.container__item:nth-of-type(2) { 
	order: 3;
	.yellow{
		left: 0;
		right: auto;
	}
	.blue{
		top: 0;
		bottom: auto;
		transform: rotate(45deg) translateX(0);
		transform-origin: 0 0 ;
	}
}
.container__item:nth-of-type(3) { order: 2; 
	.yellow{
		left: 0;
		right: auto;
		transform: rotate(45deg) translateX(0);
		transform-origin: 0 0 ;		
	}
	.blue{
		top: 0;
		bottom: auto;
	}
}
.container__item:nth-of-type(4) { 
	order: 4;
	.yellow{
		left: 0;
		right: auto;
	}
	.blue{
		top: 0;
		bottom: auto;
		transform: rotate(45deg) translateX(0);
		transform-origin: 0 0 ;
	}
}
.container__form{

}
.form{
position: absolute;
bottom: 0;

}
.form__input{
	background-color: $blue;
	border: none;
	padding: 5px 5px 5px 35px;
	color: #fff;
	font-size: 22px;
}
.form__input::placeholder {
 	color: #fff;
	font-size: 22px;
	opacity: 1;
}
.form__fa{
	position: absolute;
	left: 75%;
	top: 12%;
	font-size: 28px!important;
	transform: rotate(45deg) translateX(8px);
	transform-origin: 100% 0%;
	color: #fff;
	width: 60px;
	height: 60px;
	line-height: 60px!important;
	background-color: $blue;
	border-radius: 50%;
	text-align: center;
}
.container__list{
}
.list{
	position: absolute;
	padding: 0;
	margin-left: 10%;
	width: 80%;
}
.list__item{
	list-style-type: none;
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	font-weight: 600;
}
.list__item:nth-of-type(odd){
	background-color: $blue;
	color: $yellow;
}
.list__item:nth-of-type(even){
	background-color: $yellow;
	color: $blue;
}
.list__item:nth-of-type(1){
	background-color: $blue;
	color: #fff;
}
.list__fa{
	position: absolute;
	left: 10px;
	top: 5px;
}
.container__poster{
}
.poster{
	display: none;
}
.poster__active{
	display: block;
}
.poster__img{
	margin-left: 30%;
	margin-top: 20%;
	width: 40%;
	height: auto;
	position: absolute;
	transform: rotate(45deg) translateX(0);
}
.container__descr{

}
.descr{
	position: absolute;
	width: 80%;
	margin-left: 10%;
	font-family: Arial,sans-serif;
	margin-top: 10%;
	display: none; 

}
.descr__active{
	display: block; 
}
.descr__header{
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-color: $red;
	margin: 0;
	padding: 25px 0;

}
.descr__text{
	text-align: left;
	font-size: 10px;
	background-color: #FFF;
	margin: 0;
	padding: 10px;
	line-height: 1.5;
}
@media screen and (max-width: 600px){
.container__item:nth-of-type(2) { 
	order: 2;
}
.container__item:nth-of-type(3) { 
	order: 3;
}
.container__item{
	width: 100%;
}

}